# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/

# Ignore Python egg files
*.egg
*.egg-info/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib64/
__pypackages__/

# Ignore pipenv files
Pipfile.lock

# Ignore mypy files
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore Pyre type checker files
.pyre/
.pypirc
# Ignore coverage files
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore pytest files
.pytest_cache/
.tox/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore PEP 582 local packages directory
__pypackages__/